<!doctype html>
<html ⚡ lang="pt">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-call-tracking" src="https://cdn.ampproject.org/v0/amp-call-tracking-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <title>Autogeral Autopeças LTDA</title>
    <link rel="canonical" href="https://ecommerce-dot-erpj-br.appspot.com">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
		"author": {"@type": "Person","name": "Murilo de Moraes Tuvani"},
        "publisher": {"@type": "Organization","name": "Autogeral Autopeças LTDA",
   			"logo": { "@type": "ImageObject", "url": "https://ecommerce-dot-erpj-br.appspot.com/logo.jpg","width": 128, "height": 128}},
        "mainEntityOfPage": { "@type": "WebPage", "@id": "https://ecommerce-dot-erpj-br.appspot.com"}
        "headline": "Autogeral Autopeças",
        "datePublished": "2020-03-01T14:06:41Z",
        "dateModified": "2020-03-01T14:06:41Z",
        "image": [
          "logo.png"
        ]
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
    	h1 { color: blue; } 
    </style>
  </head>
  <body>
  	<header>
  	<amp-img class="logo" src="ico/favicon-96x96.png" alt="Home" width="96" height="96" layout="intrinsic"></amp-img>
  	<button id="hamburger" on="tap:sidebar.open">
  		<span>menu</span>
  		<span id="expanded">expanded</span>
  		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0  24 24" aria-hidden="true">
			<path d="M0 0h24v23H0z" fill="none"/>
			<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h12V6H3z" fill="none"/>
  		</svg>
  	</button>
  	</header>
	<amp-sidebar id="sidebar" layout="nodisplay" side="right">
	  <ul>
        <li>Nav item 1</li>
        <li><a href="#idTwo" on="tap:idTwo.scrollTo">Nav item 2</a></li>
	    <li>Nav item 3</li>
	    <li><a href="#idFour" on="tap:idFour.scrollTo">Nav item 4</a></li>
	    <li>Nav item 5</li>
	    <li>Nav item 6</li>
	  </ul>
	</amp-sidebar>
	<h1>Welcome to the mobile web</h1>
	<form class="sample-form" method="GET" action="/p" target="_top">
	  <input type="search" placeholder="Pesquisa..." name="k">
	  <input type="submit" value="Pesquisar">
	</form>


	<h3>Itu</h3>
    <amp-call-tracking config="https://ecommerce-dot-erpj-br.appspot.com/json/telefone-itu.json">
      <a href="tel:1140137777">(11)4013-7777</a>
    </amp-call-tracking>
    <h3>Salto</h3>
    <amp-call-tracking config="https://ecommerce-dot-erpj-br.appspot.com/json/telefone-salto.json">
      <a href="tel:1140137777">(11)4602-9999</a>
    </amp-call-tracking>
  </body>
</html>