<!doctype html>
<html ⚡ lang="pt">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <link rel="canonical" href="https://ecommerce-dot-erpj-br.appspot.com/nossas-lojas.html">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
		"author": {"@type": "Person","name": "Murilo de Moraes Tuvani"},
        "publisher": {"@type": "Organization","name": "Autogeral Autopeças LTDA",
   			"logo": { "@type": "ImageObject", "url": "https://ecommerce-dot-erpj-br.appspot.com/logo.jpg","width": 128, "height": 128}},
        "mainEntityOfPage": { "@type": "WebPage", "@id": "https://ecommerce-dot-erpj-br.appspot.com"}
        "headline": "Autogeral Autopeças",
        "datePublished": "2020-03-01T14:06:41Z",
        "dateModified": "2020-03-01T14:06:41Z",
        "image": [
          "logo.png"
        ]
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
    	h2 { color: blue; } 
    </style>
    <title>Lojas :: Autogeral</title>
  </head>
  <body>
    <h1>Matriz - Itu</h1>
  	<ul>
  	  <li>Av. Dr. Octaviano Pereira Mendes, 1333</li>
  	  <li>CEP 13.301-909 - Itu/SP</li>
  	  <li>(11)4013-7777</li>
  	</ul>
    <amp-iframe width="600"
      height="400"
      title="Autogeral Itu - Matriz"
      layout="responsive"
      sandbox="allow-scripts allow-same-origin allow-popups"
      frameborder="0"
      src="https://www.google.com/maps/embed/v1/place?q=Auto+Geral+Autopeças+Av.+Dr.+Otaviano+Pereira+Mendes,+1333+-+Liberdade,+Itu+-+SP&key=AIzaSyAj1jbIFLVtamGuesXrjmZnENigBmh-iwQ">
    </amp-iframe>
    <h1>Salto</h1>
    <ul>
  	  <li>Av. Dom Pedro II, 1090</li>
  	  <li>Salto/SP</li>
      <li>(11)4602-9999</li>
    </ul>
    <amp-iframe width="600"
      height="400"
      title="Autogeral Salto"
      layout="responsive"
      sandbox="allow-scripts allow-same-origin allow-popups"
      frameborder="0"
      src="https://www.google.com/maps/embed/v1/place?q=Auto+Geral+Autopeças+Av.+Dom.+Pedro+II+,+1090+-+Centro,+Salto+-+SP&key=AIzaSyAj1jbIFLVtamGuesXrjmZnENigBmh-iwQ">
    </amp-iframe>
  </body>
</html>

