<!doctype html>
<html ⚡ lang="pt">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Quem somos :: Autgeral</title>
    <link rel="canonical" href="https://ecommerce-dot-erpj-br.appspot.com/quem-somos.html">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
		"author": {"@type": "Person","name": "Murilo de Moraes Tuvani"},
        "publisher": {"@type": "Organization","name": "Autogeral Autopeças LTDA",
   			"logo": { "@type": "ImageObject", "url": "https://ecommerce-dot-erpj-br.appspot.com/logo.jpg","width": 128, "height": 128}},
        "mainEntityOfPage": { "@type": "WebPage", "@id": "https://ecommerce-dot-erpj-br.appspot.com"}
        "headline": "Autogeral Autopeças",
        "datePublished": "2020-03-01T14:06:41Z",
        "dateModified": "2020-03-01T14:06:41Z",
        "image": [
          "logo.png"
        ]
      }
    </script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
    	h2 { color: blue; } 
    </style>
  </head>
  <body>
<h2>Quem Somos</h2>
<p>Em janeiro de 1968 na Praça Lauro Maurino, na cidade de Porto Feliz, nascia um pequeno comércio chamado GT Autopeças que, mais tarde, através de muito esforço, dedicação e garra, iria tornar-se a Auto Geral.</p>
<p>Foram tempos difíceis, quando não se pensava em folga nem aos domingos, já que um dos seus clientes era uma usina (hoje extinta), a qual, em tempos de safra, trabalhava 24 horas sem interrupção.</p>
<p>Os caminhões da tal Usina podiam quebrar a qualquer hora do dia ou da noite e seus motoristas precisavam de peças para continuar o transporte da cana colhida. A GT Autopeças estava sempre ali, atendendo e servindo no que fosse preciso.</p>
<p>Tal dedicação fez com que não demorasse muito para surgir a primeira filial, então na Rua José Bonifácio. Mesmo pequena, a empresa sempre teve missão estabelecida e seguida por todos: servir com qualidade e presteza, para servir sempre.</p>
<p>Porém nossos ideais transpunham os limites da pequena cidade de Porto Feliz e resolvemos ousar abrindo uma outra filial, agora na cidade de Itu. Tal ousadia deu certo e começava a história da Auto Geral, fruto embrionário da antiga GT autopeças, que tempos mais tarde seria vendida.</p>
<p>O progresso da Auto Geral não aconteceu por acaso, tampouco foi um golpe de sorte. Mas o crescimento deve-se exclusivamente ao esforço de uma equipe que esteve 100% envolvida e comprometida com a empresa durante todos esses anos. Em 2015 iniciou sua caminhada rumo a certificação ISO 9001, estando hoje na sua recertificação.</p>
<p>São mais de 50 anos de história, de progresso e hoje a Auto Geral é uma empresa regionalmente reconhecida no setor de auto peças com lojas em Itu, Sorocaba, Salto, Porto Feliz, Indaiatuba, Cabreúva e Tatuí e contamos com 160 funcionários.</p>
<p>E no que estamos pensando agora? Nos próximos 50 anos.</p>
<h2>Visão</h2>
<p>Nos próximos 5 anos a Auto Geral tem como visão tornar-se uma empresa referência regional no atendimento de autopeças.
<h2>Missão</h2>
<p>A Auto Geral existe para comercializar autopeças de qualidade com garantia, para automóveis e caminhões, a um preço justo, no menor tempo possível e com excelência no atendimento.</p>
<h2>Valores</h2>
<p>Crescer com responsabilidade, sempre em busca da melhoria contínua;</p>
<p>Desenvolver o trabalho com agilidade e rapidez nas informações;</p>
<p>Respeitar a experiência de nossos profissionais e capacitar os novos talentos, fortalecendo as relações humanas.</p>
<p>Imprimir em todas as nossas parcerias qualidade técnica com afetividade, transparência e honestidade.</p>
<h2>Política da Qualidade</h2>
<ul>
<li>A Auto Geral existe para comercializar, representar, distribuir e entregar autopeças de qualidade com garantia para automóveis e caminhões.</li>
<li>Promover continuamente a melhoria do sistema de gestão da qualidade;</li>
<li>Atender as necessidades e expectativas dos clientes;</li>
<li>Atender aos requisitos legais aplicados;</li>
<li>Buscar a satisfação dos clientes;</li>
<li>Buscar fornecedores e colaboradores capacitados;</li>
</ul>
</body>
</html>